@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@200;400;500;600;800&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@1,400;1,500&display=swap');

:root {
  --background-gradient: rgba(156, 155, 154, 0.2);
  --font-color: #1a1a1a;
  --background-color: #ffffff;
  --link-color: cornflowerblue;
  --card-background: #0E8388;
  --current-weather: rgba(156, 155, 154, 0.2);
  }
  
[data-theme="dark"] {
  --background-gradient: rgba(238, 235, 221, 20%);  
  --font-color: #eaeaea;
  --background-color: #000000;
  --link-color: lightblue;
  --card-background: rgba(238, 235, 221, 20%);
  --current-weather: #0E8388;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Open Sans', sans-serif;
}

.heading-3 {
  font-weight: 500;
  margin-bottom: 15px;
}